.container {
  height: calc(100vh - 250px);
  border: 0;
  border-bottom: 0.1px;
  border-color: black;
  border-style: groove;
  overflow: hidden;
}

.arrowContainer {
  position: absolute;
  width: 10%;
  height: 20%;
  top: 0;
  bottom: 34%;
  margin: auto;
  cursor: pointer;
  z-index: 2;
}

.wrapper {
  display: flex;
  width: 300vw;
  height: 60%;
}

.imgContainer {
  width: 50%;
  height: 100%;
  position: relative;
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 5px 31%;
}

.browse {
  display: flex;
  padding: 20px 10px;
}

@media screen and (min-width: 721px) {
  .arrowContainer {
    width: 70px;
    height: 90px;
    right: 40em;
    left: 40em;
  }
}
