.container {
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 20px;
  cursor: pointer;
}

.header {
  color: #b7903c;
}

.title {
  font-size: 22px;
  font-weight: 700;
  color: #b7903c;
}

.genre {
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.description {
  color: white;
}
